<html>
    <head>
        <title>
            <%= pageTitle %>
        </title>
        <link href="/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1>
            My Store Home Page
        </h1>
        <ul>
            <li>
                <a href="/admin/add-product">Add Product</a>
            </li>
            <li>
                <a href="/admin/products">Products</a>
            </li>
        </ul>
        <img src="/images/img1.png" alt="">
    </body>
</html>